main{
  background: #cfe7fa;
  background: -moz-linear-gradient(top,  #cfe7fa 0%, #6393c1 100%);
  background: -webkit-linear-gradient(top,  #cfe7fa 0%,#6393c1 100%);
  background: linear-gradient(to bottom,  #cfe7fa 0%,#6393c1 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#cfe7fa', endColorstr='#6393c1',GradientType=0 );

  position: relative;
  height: 100vh;
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  background-size: cover;
  background-attachment: fixed;
  overflow: hidden;
}
.titulo,
.boton
{
  position: absolute;
  margin: 0;
  max-width: 400px;
  height: fit-content;
  line-height: 30px;
  font-size: 22px;
  font-family: 'Dongle', sans-serif;
  font-weight: 400;
  text-align: center;
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;

  text-decoration: underline;
  text-decoration-style: dotted;
  text-decoration-color: yellow;

  text-shadow: 0 0 5px #ffa500,
  0 0 5px #ffa500,
               0 0 5px #ffa500,
               0 0 5px #ffa500,
               0 0 5px #ff0000,
               0 0 5px #ff8d00,
               0 0 5px #ff0000;
  color: #fff6a9;
  opacity: 1;
  transition: opacity 1s;
}
.titulo
{
  top: 15px;
  left: 50%;
  padding: 0 17px;
  transform: translateX(-50%);
  background-image: url('/img/bgp.png');
  width: max-content;
  pointer-events: none;
  animation: blink 12s infinite;
  /* text-transform: capitalize; */
}
.boton
{
  bottom: 10px;
  padding: 2px 17px;
  background-image: url('/img/bgb.png');
  animation: blink 10s -6s infinite;
  cursor: pointer;
  z-index: 10;
}


@keyframes blink{
  20%, 24%, 55%{
    color: chartreuse;
    text-shadow: none;
  }
  0%, 19%, 21%, 23%, 25%, 54%, 56%, 100%{
    text-shadow: 0 0 5px #ffa500,
                0 0 5px #ffa500,
                0 0 5px #ffa500,
                0 0 5px #ffa500,
                0 0 5px #ff0000,
                0 0 5px #ff8d00,
                0 0 5px #ff0000;
    color: #fff6a9;

  }
}

.galeria{
  position: relative;
  width: 100%;
  max-width: 320px;
  height: fit-content;
  max-height: 100%;
  padding-bottom: 25px;

  display: grid;
  grid-template-columns: repeat(auto-fit, 45px);
  grid-auto-rows: 100px;
  justify-content: center;
  gap: 10px;

  opacity: 1;
  transition: opacity 1s;
}
main .desvanecer{
  opacity: 0;
}
.galeria_item{
  /* Hexágono horizontal */
  clip-path: polygon(25% 0%, 75% 0%, 100% 50%, 75% 100%, 25% 100%, 0% 50%);
  grid-column: span 2; /* 90px + 10px = 100px */
  height: 100px;

  position: relative;

  background: linear-gradient(135deg, lightcoral, purple);
  
  cursor: pointer;
  transition: .5s;
}
.galeria_item:nth-child(odd) {
  background: linear-gradient(135deg, orange, yellow);
}
.galeria_item:nth-of-type(3n + 1) {
  background: linear-gradient(135deg, cyan, blue);
  /* color: gray; */
}
.galeria_item:nth-of-type(5n + 1) {
  background: linear-gradient(135deg, chartreuse, green);
}
.galeria_item img{
  width: 100%;
  height: 100%;
  object-fit: cover;
  filter: drop-shadow(12px 4px 4px rgba(0, 0, 0, .6));
  transition-duration: 1s;
}
.galeria_item:hover img{
  filter: drop-shadow(0 0 4px rgba(0, 0, 0, .6));
}
.galeria_item:hover{
  transform: scale(1.2, 1.2);
}

/* --------------------curvas----------------- */
.curvas{
  position: absolute;
  bottom: -5px;
  width: 101%;
}
svg#curvas path{
  fill: var(--morado);
}

/* Media queries */
@media(min-width: 168px){
  .galeria {
    /* padding-bottom: 32px; */
    grid-auto-rows: 73px;
  }
  .galeria_item{
    /* Hexágono vertical */
    clip-path: polygon(50% 0%, 100% 25%, 100% 75%, 50% 100%, 0% 75%, 0% 25%);
  }
  .galeria_item:first-of-type{
    grid-column: 2 / span 2;
  }
} /* Columnas de grid: 4 en adelante*/

@media screen and (min-width: 168px) and (max-width: 209px) {
  .galeria_item:nth-child(odd) {
    grid-column: 2 / span 2;
  }
} /* Columnas de grid: 4 */

@media screen and (min-width: 210px) and (max-width: 264px) {
  .galeria_item:nth-of-type(3n + 1) {
    grid-column: 2 / span 2;
  }
}
/* Columnas de grid: 5 */

/* Para centrar verticalmente */
@media(min-width: 265px){
  /* .galeria{
    padding: 25% 0;
  } */
  .titulo{
    line-height: 45px;
    letter-spacing: 1px;
  }
}
/* Columnas de grid: 6 en adelante*/

@media screen and (min-width: 265px) and (max-width: 319px) {
  .galeria_item:nth-of-type(4n + 1) {
    grid-column: 2 / span 2;
  }
}
/* Columnas de grid: 6 */

@media(min-width: 320px){
  .galeria_item:nth-of-type(5n + 1) {
    grid-column: 2 / span 2;
  }
}
/* Columnas de grid: 7 en adelante*/
