.leyenda-overlay {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100vh;
  top: 0;
  left: 0;
  z-index: 10;

  /* background-color: rgba(0,0,0, .3); */
}
.leyenda-contenedor{
  position: absolute;
  top: 100%;
  display: flex;
  align-items: center;
  justify-content: center;

  width: 100%;
  height: 100%;
  max-width: 485px;
  max-height: 640px;

  background-image: url('/img/leyenda/papiro.png');
  background-repeat: no-repeat;
  background-size: contain;
  background-position: 50% 50%;
  animation: entrada .5s ease forwards;
}
@keyframes entrada {
  0% { top: -100%;}
  100% { 
    top: 50%;
    transform: translateY(-50%);
  }
}
.leyenda-contenido{
  display: flex;
  align-items: center;
  justify-content: center;
  width: 80%;
  height: 60%;
  max-width: 485px;
  max-height: 640px;

  /* background-color: rgba(0,0,0, .3); */
}
.leyenda-relato{
  /* display: inline-block; */
  width: 95%;
  height: 90%;
  padding: 12px 10px 10px;
  color: #574837;
  /* color: white; */
  /* background-color: rgba(0,0,0, .3); */
  /* height: 30%; */
  overflow: auto;
}
.leyenda-relato .leyenda-portada{
  filter: sepia(170%) brightness(100%);
  width: 77px;
  height: 88px;
  float: right;
  margin-left: 10px;
}
/* limpia su float */
.leyenda-relato::after {
  content: "";
  display: block;
  clear: both;
}
.leyenda-relato p{
  font-size: 14px;
  text-indent: 15px;
  opacity: 0;
  transition: 1s;
}
.leyenda-relato .aparecer{
  opacity: 1;
}
.leyenda-relato p::first-letter{
  text-transform: capitalize;
}
.leyenda-relato p:nth-of-type(1)::first-letter{
  font-family: 'Pinyon Script', cursive;
  font-size: xx-large;
  font-weight: 700;
  line-height: 0;
}

/* @media(min-width: 414px){
  .leyenda-contenedor{
    font-size: 16px;
  }
} */

@media (orientation: landscape){
  .leyenda-contenedor{
    background-image: url('/img/leyenda/papiroLandscape.png');
    max-width: 640px;
    max-height: 485px;

  }
  .leyenda-contenido{
    width: 60%;
    height: 80%;
  }
}
@media screen and (min-width: 813px){
  .leyenda-contenido{
    height: 70%;
  }
  .leyenda-relato .leyenda-portada{
    width: 115px;
    height: 132px;
  } 
  .leyenda-relato p{
    font-size: 14px;
  }
}
