.mostrar-todo {
  position: absolute;
  height: 100%;
  width: 100%;
  bottom: 0;
  padding: 0 15px;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  z-index: 40;
  transition: opacity .5s;
}
.mostrar-todo .swiper{
  width: 100%;
  height: 100%;
  margin-left: auto;
  margin-right: auto;
  padding: 30px 0;
  max-width: 1080px;
}
.mostrar-todo .swiper-slide {
  text-align: center;
  font-size: 18px;
  background: #fff;
  height: calc((100% - 30px) / 3) !important;

  /* Center slide text vertically */
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;

  align-items: flex-end;
  position: relative;
  border-radius: 20px;
}
.mostrar-todo .swiper-wrapper{
  display: flex;
  justify-content: center;
  padding-bottom: 10px;
}
.mostrar-todo .swiper-slide .image {
  border-radius: 50%;
  padding: 3px;
  z-index: 1;
  cursor: pointer;
  box-shadow: 0px 5px 10px -5px #000000;

  height: 90px;
  width: 90px;
  margin-bottom: 10px;
}
.mostrar-todo .swiper-slide .image img {
  height: 100%;
  width: 100%;
  object-fit: cover;
  border-radius: 50%;
  border: 3px solid white;
  background: radial-gradient(rgba(255, 255, 255, 0.3), rgba(0, 0, 0, 0.2));
}
.mostrar-todo .before {
  position: absolute;
  top: 0;
  height: 35%;
  width: 100%;
  border-radius: 20px 20px 0 0;
}
.mostrar-todo .swiper-slide .card-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  padding: 10px;
  /* height: 170px; */

  /* margin-bottom: 15px; */
}
.mostrar-todo .swiper-slide .descripcion {
  color: #333;
  font-size: 15px;
  font-weight: 600;
  /* text-align: center; */
  z-index: 1;

  /* display: none; */
}
.mostrar-todo .info-card{
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: column;
  height: 60px;
}

.mostrar-todo .swiper-slide .botones {
  bottom: 10px;
  right: 10px;
  width: fit-content;
  border-radius: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1;
}
.mostrar-todo .swiper-slide .botones .tresSesenta {
  border: none;
  width: 100%;
  height: 100%;
  border-radius: 50px;
  padding: 2px 15px;
  font-size: 21px;
  transition: 0.3s ease;
  background-color: transparent;
  color: white;
  -webkit-box-shadow: 0px 5px 10px -5px #000000;
  box-shadow: 0px 5px 10px -5px #000000;
}
.mostrar-todo .swiper-slide .botones .tresSesenta:hover {
  cursor: pointer;
  background-color: chartreuse;
}
.mostrar-todo .swiper-slide .botones .deshabilitado {
  background-color: gray;
  color: lightgray;
}
.mostrar-todo .swiper-slide .botones .deshabilitado:hover {
  cursor: not-allowed;
  background-color: gray;
  color: lightgray;
}
.mostrar-todo .swiper-horizontal>.swiper-pagination-bullets .swiper-pagination-bullet{
  margin: 0 2px;
  background-color: chartreuse;
}

.mostrar-todo .swiper-horizontal > .swiper-pagination-bullets{
  bottom: 6px;
}
.mostrar-todo .swiper-button-next{
  color: var(--morado);
}
.mostrar-todo .swiper-button-prev{
  color: var(--morado);
}

/* pantalla vertical */
@media (min-width: 360px) and (orientation: portrait){
  .mostrar-todo .swiper-slide .image {
    height: 120px;
    width: 120px;
  }
  .mostrar-todo .swiper-slide .card-content {
    height: 220px;
  }
}
@media (min-width: 414px) and (orientation: portrait){
  .mostrar-todo .swiper-slide .image {
    height: 150px;
    width: 150px;
  }
  /* .mostrar-todo .swiper-slide .descripcion{
    display: block;
  } */
  .mostrar-todo .swiper-slide .card-content {
    height: 240px;
  }
  .mostrar-todo .info-card{
    height: 170px;
  }
}
@media (min-height: 812px) and (orientation: portrait){
  .mostrar-todo .swiper-slide{
    align-items: center;
  }
}

/* Pantalla :horizontal */
@media (orientation: landscape) {
  .mostrar-todo .swiper-slide {
    align-items: flex-end;
  }
  .mostrar-todo .swiper-slide .card-content{
    flex-direction: row;
    align-items: flex-end;
    height: auto;

    margin: 0;
  }
  .mostrar-todo .swiper-slide .image{
    margin: 0;
  }
  .mostrar-todo .info-card{
    height: 80px;
    flex-direction: column-reverse;
  }
  .mostrar-todo .swiper-slide .descripcion{
    display: block;
    font-size: 12px;
    width: 100px;
    flex-grow: 1;
    padding-top: 11px;
  }
  .mostrar-todo .before{
    height: 35%;
  }
}

@media (orientation: landscape) and (min-height: 375px){
  .mostrar-todo .swiper-slide{
    align-items: center;
  }
  .mostrar-todo .swiper-slide .card-content {
    align-items: center;
  }
  .mostrar-todo .swiper-slide .image{
    height: 130px;
    width: 130px;
  }
  .mostrar-todo .before{
    height: 45%;
  }
  .mostrar-todo .info-card{
    height: 90px;
  }

  .mostrar-todo .swiper-slide .descripcion{
    font-size: 15px;
    width: 180px;
  }
}