/* Google Font Import */
@import url('https://fonts.googleapis.com/css2?family=Pinyon+Script&family=Poppins:wght@300;400;500;600;700&display=swap');

*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Poppins', sans-serif;
}
.contenedor {
  height: 100vh;
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
  background-color: rgba(0,0,0, .5);
  /* background-color: #72593B;
  background-image: url('../img/edificios.jpg');
  background-size: cover;
  background-attachment: fixed;
  overflow: scroll; */
  z-index: 10;
}
.select{
  color: white;
}
.figuras{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  width: 100%;
  /* max-width: 1280px; */
}
.card {
  display: flex;
  justify-content: center;
  flex-direction: column;
  /* border: 1px solid gray; */
  height: 97vh;
}
.canvas{
  /* border: 1px solid gray; */
  max-height: 70vh;
  border-radius: 50%;
}

/* input type range */
.rango {
  align-self: center;
  /* margin-top: -1rem; */
  -webkit-appearance: none;
  height: 2px;
  border-radius: 5px;
  background: #26272D;
  outline: none;
  cursor: pointer;
  z-index: 1;
}
.rango::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 25px;
  height: 25px;
  border-radius: 50%;
  border: 2px solid #C66B00;
  background: #72593B;
  cursor: pointer;
}
.rango::-moz-range-thumb {
  width: 25px;
  height: 25px;
  border-radius: 50%;
  background: #04AA6D;
  cursor: pointer;
}
/* @media(min-width: 1300px) {
  .contenedor {
    background-image: url('../img/edificios2k.jpg');
  }
} */
/* @media(min-width: 720px) {
  .canvas{
    width: fit-content;
    align-self: center;
  }  
} */
/* @media(min-height: 420px){
  .canvas{
    margin: 0;
  }
} */